* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 1rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  nav a:hover {
    background-color: #ccc;
  }
  
  main {
    margin-top: 10rem;
    padding: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 0.5rem;
    text-align: left
}

table th {
background-color: #333;
color: #fff;
}

table td {
border-bottom: 1px solid #ccc;
}

table td:last-child {
text-align: center;
}

table a {
display: inline-block;
margin-right: 0.5rem;
color: #fff;
text-decoration: none;
background-color: #333;
padding: 0.5rem;
border-radius: 4px;
}

table a:hover {
background-color: #555;
}

footer {
background-color: #333;
color: #fff;
padding: 1rem;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}

@media only screen and (min-width: 480px) {
main {
max-width: 800px;
margin: 0 auto;
}
}

@media only screen and (min-width: 760px) {
main {
max-width: 960px;
}
}

@media only screen and (min-width: 1200px) {
main {
max-width: 1140px;
}
}