body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

.body-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

  a{
    text-decoration: none;
  }
  

  /* Formulario */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin: 0 10px 0 0;
  }
  
  input[type="checkbox"] {
    margin: 0 10px 0 0;
  }
  
  .btnEnviar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button[type="reset"] {
    background-color: #ccc;
    color: #000;
  }
  .planes{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
  }

  /* dashboard */

   
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  .btnForm{
    margin-top: 20px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
  }
  .btnReporte{
    margin-top: 20px;
    width: 98%;
    display: flex;
    justify-content: center;
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .btns{
    display: flex;
    justify-content: center;
  }
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .opc{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  } 

  .planes{
    margin-bottom: 20px;
  }