body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

.registro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.registro h2 {
    margin-top: 0;
}

.registro ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.registro ul li {
    margin-bottom: 10px;
}

.registro ul li span {
    font-weight: bold;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3e8e41;
}
.btn-cerrar-sesion {
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}